<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Feeds</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='feeds.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <a class="{{ 'active' if request.path == url_for('home') else '' }}" href="{{ url_for('home') }}"><i class="fa fa-fw fa-home"></i> Home</a>
        <a class="{{ 'active' if request.path == url_for('feeds') else '' }}" href="{{ url_for('feeds') }}"><i class="fa-solid fa-magnifying-glass"></i> Feeds</a>
        <a class="{{ 'active' if request.path == url_for('search_tutors') else '' }}" href="{{ url_for('search_tutors') }}"><i class="fa-solid fa-chalkboard-user"></i> Tutors</a>
        <div class="rh"> 
            <a href="{{ url_for('contactus') }}"><i class="fa fa-fw fa-envelope"></i> Contact Us</a>
        </div>
    </div>
    <div class="container">
        {% for student in students.items %}
        <!-- Each student's details as a grid item -->
        <div class="student-box">
            <p><span class="table-heading">Name:</span>{{ student.name }}</p>
            <p><span class="table-heading">Father's Name:</span>{{ student.father_name }}</p>
            <p><span class="table-heading">Phone:</span>{{ student.phone }}</p>
            <p><span class="table-heading">Class:</span>{{ student.class_name }}</p>
            <p><span class="table-heading">Subject:</span>{{ student.subject }}</p>
            <p><span class="table-heading">Tuition fees:</span>{{ student.tuition_fees }}</p>
            <p><span class="table-heading">Timing:</span>{{ student.timing }}</p>
            <p><span class="table-heading">Address:</span>{{ student.Address }}</p>
            <!-- Apply Now button -->
            <div class="apply-button">
                <form action="{{ url_for('apply_now') }}" method="post">
                    <input type="hidden" name="student_id" value="{{ student.id }}">
                    <button type="submit" class="apply-now-btn">Apply Now</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {% if students.has_prev %}
            <a href="{{ url_for('feeds', page=students.prev_num) }}">Previous</a>
        {% endif %}
        {% for page_num in students.iter_pages() %}
            {% if page_num %}
                <a href="{{ url_for('feeds', page=page_num) }}" class="{{ 'active' if page_num == students.page else '' }}">{{ page_num }}</a>
            {% else %}
                <span>...</span>
            {% endif %}
        {% endfor %}
        {% if students.has_next %}
            <a href="{{ url_for('feeds', page=students.next_num) }}">Next</a>
        {% endif %}
    </div>
   
</body>
</html>
